.thankspagemaindiv {
  background-color: #0b1f38;
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.thankspagediv {
  width: 50%;
}
.thankstextdiv {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .thankspagediv {
    width: 100%;
  }
}
