.headermaindiv {
  background-color: #1e3d6b;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.headertextimg {
  height: 1rem;
}

.containerdiv {
  align-items: flex-end !important;
}

.headermainfulldiv {
  width: 100%;
  z-index: 99999;
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
}

/* .sticky {
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
} */

.headertest {
  color: #fff !important;
  font-size: 0.8rem !important;
  padding-right: 1rem !important;
  padding-left: 1rem I !important;
}

.headeruppermaindiv {
  background-color: #0b1f38;
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  padding: 0.5rem 0rem;
}

.headerloginbutton {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.headersingupbutton {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .logoimag {
    height: 8rem;
  }
}

@media only screen and (min-width: 640px) {
  .logoimag {
    height: 7rem;
  }
}

@media only screen and (max-width: 640px) {
  .logoimag {
    height: 5rem;
  }
}

@media (max-width: 992px) {
  .containerdiv {
    align-items: center !important;
  }
}

@media (max-width: 768px) {
  .containerdiv {
    align-items: center !important;
  }

  .headertextimg {
    display: none;
  }
}